.features {
  display: flex;
  align-items: center;
  padding: 8rem 0 2rem;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.description {
  color: #292929;
  font-size: 1.125rem;
}

.about_container {
  display: flex;
  justify-content: center;
}

.about {
  color: #292929;
  font-size: 1.125rem;
  line-height: 2;
  text-align: left;
  margin-top: 4.75rem;
  padding: 0 1rem;
  max-width: 70%;
}

.about_p1 {
  margin-bottom: 2.5rem;
}

.about_p1>span {
  font-weight: 600;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4.75rem 0 2rem;
}

[data-theme="dark"] {
  .description {
    color: #ffffff;
  }

  .about {
    color: #ffffff;
  }
}
